Flask==3.1.0
gevent==24.11.1
greenlet==3.1.1
chill==0.10.1
#git+https://github.com/jkenlooper/chill.git@develop#egg=chill
redis == 5.2.1
hiredis == 3.1.0
rq==2.1.0
docopt==0.6.2
Flask-SSE==1.0.0
nanoid==2.0.0